@import 'variables';

.animsition-overlay {
  height: 100%;
}
a{
  color: inherit;
  &:hover{
    text-decoration: none;
  }
}
.img-resp {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  max-width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  letter-spacing: 2px;
}

.header {
  padding-left: 0px;
}

.navigation {
  align-items: center;
  height: 100%;
  justify-content: center;
  position: fixed;
  top: 0px;
  padding: 8vh 0px;
  padding-right: 5px;
  .burger,
  .logo,
  .socials,
  .next-page {
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 75px;
  }

  .burger {
    justify-content: flex-start;

    img {
      width: 30px;
    }
  }

  .next-page {
    justify-content: flex-end;
  }
}

.home, .global_container {
  height: 100%;
  width: 100%;
  padding: 8vh 5%;

  .row {
    height: 100%;
  }
}

.row>div {
  max-height: 100%;
}

.main-title {
  font-size: 4rem;
  margin-bottom: 3rem;
}

.prev-next {
  display: flex;
  justify-content: space-evenly;

  .prev,
  .next {
    position: relative;
    cursor: pointer;
  }

  .prev:after,
  .next:after {
    content: " ";
    height: 0px;
    background-color: var(--brand-primary);
    width: 100%;
    position: absolute;
    bottom: -7px;
    left: 0px;
    transition: height .5s ease;
  }

  .prev:hover:after,
  .next:hover:after {
    height: 2px;
  }
}

.home-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.details {
  position: absolute;
  bottom: 0px;
  text-transform: uppercase;
  padding: 1.2rem 5rem 1.2rem 5px;
  .link-detail{
    color: inherit;
    p {
      margin: 0px;
      font-size: .85rem;
    }
  }
}

.paged {
  color: var(--text-muted);

  h2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;

    .slick-dots {
      li {
        display: none;

        button {
          background: none;
          border: unset;
          color: var(--text-muted);
        }
      }

      .slick-active {
        display: block;
      }
    }
  }
}

.image-container {
  box-shadow: 5px -4px 10px 0px #BDBDBD;
  border-radius: 30px;
  padding: 0px;
  overflow: hidden;
  margin: 0px 15px;
  height: 100%;

  .slick-list,
  .slick-track {
    height: 100%;
  }
}

.slider {
  width: 100%;
  height: 100%;
}
