.portfolio{
  .row{
    .filtres_titre{
      text-align:center;
    }
    .filtres{
      .filtre{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 4rem 0px;
        svg{
          width: 35px;
        }
        h2{
          margin: 1rem 0px;
        }
      }
    }
    .col-md-9{
      .projet{
        .img_container{
          box-shadow: 4px -3px 10px 0px #BDBDBD;
          border-radius: 30px;
          padding: 0px;
          overflow: hidden;
          margin: 0px 15px;
        }
        .text_container{
          padding: 4vh;
          margin-bottom: 2rem;
        }
      }
    }
  }
}